## Ejercicio 1: Importación, limpieza, transformación y exportación de datos desde MySQL

In [ ]:
# Paso 1: Importar datos de una base de datos MySQL
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",  # Ajusta si tienes contraseña
    database="bd_healthcare",
    port=3308  # Cambia si usas otro puerto
)

query = "SELECT * FROM pacientes;"  # Cambia por la tabla que te interese
df = pd.read_sql(query, conn)
df.head()

In [ ]:
# Paso 2: Limpiar los datos
# Eliminar duplicados
df = df.drop_duplicates()

# Eliminar filas con valores nulos
df = df.dropna()

df.info()

In [ ]:
# Paso 3: Transformar los datos
# Ejemplo: crear una nueva columna de edad en años si hay fecha de nacimiento
import datetime

if 'fecha_nacimiento' in df.columns:
    df['edad'] = df['fecha_nacimiento'].apply(lambda x: datetime.datetime.now().year - x.year)

df.head()

In [ ]:
# Paso 4: Exportar los datos a una tabla temporal en MySQL
from sqlalchemy import create_engine

# Crear conexión con SQLAlchemy para usar to_sql
engine = create_engine("mysql+mysqlconnector://root:@localhost:3308/bd_healthcare")
df.to_sql(name='pacientes_temp', con=engine, if_exists='replace', index=False)
print("Datos exportados a la tabla temporal 'pacientes_temp'.")