## Ejercicio 1: Importación, limpieza, transformación y exportación de datos desde MySQL (BD Normalizada)

In [ ]:
# Paso 1: Importar datos de una base de datos MySQL (base normalizada)
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",  # Ajusta si tienes contraseña
    database="bd_healthcare_normalized",  # Usa el nombre real después de importar el .sql
    port=3308
)

query = "SELECT * FROM pacientes;"  # Cambia esta tabla si es necesario
df = pd.read_sql(query, conn)
df.head()

In [ ]:
# Paso 2: Limpiar los datos
# Eliminar duplicados
df = df.drop_duplicates()

# Eliminar filas con valores nulos
df = df.dropna()

df.info()

In [ ]:
# Paso 3: Transformar los datos
# Ejemplo: crear una columna de edad si existe 'fecha_nacimiento'
import datetime

if 'fecha_nacimiento' in df.columns:
    df['edad'] = df['fecha_nacimiento'].apply(lambda x: datetime.datetime.now().year - x.year)

df.head()

In [ ]:
# Paso 4: Exportar los datos transformados a una tabla temporal en MySQL
from sqlalchemy import create_engine

engine = create_engine("mysql+mysqlconnector://root:@localhost:3308/bd_healthcare_normalized")
df.to_sql(name='pacientes_temp', con=engine, if_exists='replace', index=False)
print("Datos exportados a la tabla temporal 'pacientes_temp'.")